<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>주문관리</h2>
        <ol class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a>Orders</a>
        </li>
        <li class="active">
            <strong>주문관리</strong>
        </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

<!-- 상품관리 TABLE -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>주문관리</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>주문시간</th>
                                <th>구매내역</th>
                                <th>주문id</th>
                                <th>담당자</th>
                                <th>결제방법</th>
                                <th>결제여부</th>
                                <th>시안여부</th>
                                <th>시안확정</th>
                                <th>상태</th>
                                <th>상세보기</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @orders.each do |order| %>
                                <tr class="gradeX">
                                    <td>
                                        <% if order.is_cancled %>
                                            <span class="label label-danger">주문취소</span>
                                        <% elsif order.is_returned %>
                                            <span class="label label-danger">환불처리</span>
                                        <% end %>
                                        <%= order.created_at.strftime("%Y-%m-%d, %H:%M") %>
                                    </td>
                                    <% order_product = order.products %>
                                    <td><%= order_product.last.title %> 외 <%= order_product.count - 1 %>건</td>
                                    <td><%= order.id  %></td>
                                    <td><%= order.etc  %></td>
                                    <td><%= order.pay_method %></td>
                                    <td><%= order.is_payed %></td>
                                    <td><%= order.is_designed %></td>
                                    <td><%= order.is_confirmed %></td>
                                    <td>
                                        <span class="label label-warning">
                                        <% if order.is_confirmed %>
                                            <% if order.is_payed %>
                                                <% if order.is_ordered %>
                                                    <% if order.is_finished %>
                                                        배송완료
                                                    <% else %>
                                                        발주완료
                                                    <% end %>
                                                <% else %>
                                                    발주준비중
                                                <% end %>
                                            <% else %>
                                                입금확인중
                                            <% end %>
                                        <% else %>
                                            시안확인중
                                        <% end %>
                                        </span>
                                    </td>
                                    <td><a class="btn btn-sm btn-primary btn-block" href="/admin_orders/view/<%= order.id %>" style="margin: 0px; padding: 0px 10px">View</a></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<!-- 상관리 TABLE 끝 -->
</div>
<a href="/admin_orders/sendmail">메일보내기</a>

<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('.dataTables-example').DataTable({
        order: [0, 'desc'],
        dom: '<"html5buttons"B>lTfgitp',
        buttons: [
            { extend: 'copy'},
            {extend: 'csv'},
            {extend: 'excel', title: 'ExampleFile'},
            {extend: 'print',
                customize: function (win){
                    $(win.document.body).addClass('white-bg');
                    $(win.document.body).css('font-size', '10px');

                    $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                }
            }
        ]

    });

});

</script>

<% end %>