<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>제품 상세화면</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
            </li>
            <li>
                <a>E-commerce</a>
            </li>
            <li class="active">
                <strong>Product detail</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="font-bold m-b-xs">
                                주문번호 : 1
                            </h2>
                            <div class="m-t-md">
                                <h2 class="product-main-price">결제금액 : <%= number_with_delimiter(@order.payment, delimiter: ',') %> 원</h2>
                            </div>
                            <hr>

                            <h4>현재 상태 : <span class="text-navy">입금대기중</span></h4>

                            <table class="table table-hover order-table" style="width:100%; margin-bottom: 5px;">
                              <thead style="text-align: center">
                                <tr>
                                    <th style="border-top: 1px solid black">결제방법</th>
                                    <th class="qty" style="border-top: 1px solid black">결제여부</th>
                                    <th class="qty" style="border-top: 1px solid black">시안등록여부</th>
                                    <th class="qty" style="border-top: 1px solid black">시안확정여부</th>
                                    <th class="qty" style="border-top: 1px solid black">발주여부</th>
                                    <th class="qty" style="border-top: 1px solid black">배송여부</th>
                                    <th class="qty" style="border-top: 1px solid black">증빙서류발급여부</th>
                                    <!-- <th style="border-top: 1px solid black">300</th> -->
                                </tr>
                              </thead>
                              <tbody>
                                <tr class="question">
                                    <td><%= @order.pay_method %></td>
                                    <td><%= @order.is_payed %></td>
                                    <td><%= @order.is_designed %></td>
                                    <td><%= @order.is_confirmed %></td>
                                    <td><%= @order.is_ordered %></td>
                                    <td><%= @order.is_finished %></td>
                                    <td><%= @order.is_issued %></td>
                                </tr>
                                <tr class="question">
                                    <td></td>
                                    <td>
                                        <% if @order.is_payed %>
                                            <a href="#" class="btn btn-info btn-xs">취소</a>
                                        <% else %>
                                            <a href="#" class="btn btn-warning btn-xs">확인</a>
                                        <% end %>
                                    </td>
                                    <td>
                                        <% if @order.is_designed %>
                                            <a href="#" class="btn btn-info btn-xs">취소</a>
                                        <% else %>
                                            <a href="#" class="btn btn-warning btn-xs">확인</a>
                                        <% end %>
                                    </td>
                                    <td>
                                        <% if @order.is_confirmed %>
                                            <a href="#" class="btn btn-info btn-xs">취소</a>
                                        <% else %>
                                            <a href="#" class="btn btn-warning btn-xs">확인</a>
                                        <% end %>
                                    </td>
                                    <td>
                                        <% if @order.is_ordered %>
                                            <a href="#" class="btn btn-info btn-xs">취소</a>
                                        <% else %>
                                            <a href="#" class="btn btn-warning btn-xs">확인</a>
                                        <% end %>
                                    </td>
                                    <td>
                                        <% if @order.is_finished %>
                                            <a href="#" class="btn btn-info btn-xs">취소</a>
                                        <% else %>
                                            <a href="#" class="btn btn-warning btn-xs">확인</a>
                                        <% end %>
                                    </td>
                                    <td>
                                        <% if @order.is_issued %>
                                            <a href="#" class="btn btn-info btn-xs">취소</a>
                                        <% else %>
                                            <a href="#" class="btn btn-warning btn-xs">확인</a>
                                        <% end %>
                                    </td>
                                </tr>
                                <tr class="question">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>구매자 정보</h3>
                                    <dl class="buyer-info">
                                        <dt>구매자명 : <%= @order.arrive_username %></dt>
                                        <dt>구매자 정보</dt>
                                        <dd><%= @order.user.email %> / <%= @order.user.phone %></dd>
                                        <dt>배송지 정보</dt>
                                        <dd>(<%= @order.arrive_address_number %>) <%= @order.arrive_address %> <%= @order.arrive_address_detail %></dd>  
                                    </dl>   
                                </div>
                                <div class="col-md-6">
                                    <h3>증빙발급 세부내용</h3>
                                    <% if @order.receipt_method.nil? %>
                                        <p>결제 내역이 없습니다.</p>
                                    <% else %>
                                        <% if @order.receipt_method == 'cash_receipt' %>
                                            <p>현금영수증 : <%= @order.cash_receipt_number %></p>
                                        <% elsif @order.receipt_method == 'card_receipt' %>
                                            <p>신용카드매출전표</p>
                                        <% else %>
                                            <p>세금계산서 : <%= @order.com_register_number %></p>
                                        <% end %>
                                    <% end %>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-footer">
                                <span class="pull-right">
                                    Full stock - <i class="fa fa-clock-o"></i> 14.04.2016 10:04 pm
                                </span>
                    The generated Lorem Ipsum is therefore always free
                </div>
            </div>

        </div>
    </div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">


$(window).load(function() {

    $('.product-images').slick({
        dots: true
    });

});

</script>

<% end %>