<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix stepsWrapper signUp m-t-60" style="padding-top: 0px">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="innerWrapper clearfix stepsPage">
          <div class="page-header" style="border-bottom: 0;">
            <h1 class="cs-title">장바구니</h1>
            <h6>Step 1. 주문 상품과 갯수를 다시 한 번 확인해주세요</h6>
          </div>

          <!-- Wizard -->
          <div class="row progress-wizard" style="border-bottom:0; margin-top: 30px ">

            <div class="col-xs-4 progress-wizard-step complete">
              <div class="text-center progress-wizard-stepnum">주문 및 고객정보 입력</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a href="checkout-step-1.html" class="progress-wizard-dot"></a>
            </div>

            <div class="col-xs-4 progress-wizard-step disabled">
              <div class="text-center progress-wizard-stepnum">결제 및 시안확인</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a href="checkout-step-2.html" class="progress-wizard-dot"></a>
            </div>

            <div class="col-xs-4 progress-wizard-step disabled">
              <div class="text-center progress-wizard-stepnum">제작 및 배송</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a href="checkout-step-4.html" class="progress-wizard-dot"></a>
            </div>
          </div>
          
          <!-- MAIN CONTENT SECTION -->
          <div class="row">
              <div class="cartListInner">
                <table class="table table-hover cart-table">
                  <thead>
                  <tr>
                      <th colspan="2" style="border-top: 1px solid black">주문상품</th>
                      <th style="border-top: 1px solid black">상품명</th>
                      <th style="border-top: 1px solid black">가격</th>
                      <th style="border-top: 1px solid black">수량</th>
                      <th style="border-top: 1px solid black">소계</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% sub_total = 0 %>
                  <% @carts.each do |cart| %>
                      <tr>
                        <td><a href="/gifts/cart_delete/<%= cart.id %>"><i class="fa fa-times" style="color:#999"></i></a></td>
                        <td class="col-xs-4"><%= cart.product.id %></td>
                        <td class="col-xs-4"><%= cart.product.title %></td>
                        <td class="col-xs-2"><%= number_with_delimiter((cart.total_price * 10 / 11 / cart.qty).to_i, delimiter: ',') %> 원</td>
                        <td class="col-xs-2"><%= number_with_delimiter(cart.qty, delimiter: ',' )%> 개</td>
                        <td class="col-xs-2"><%= number_with_delimiter((cart.total_price * 10 / 11).to_i, delimiter: ',') %> 원</td>
                      </tr>
                      <% sub_total += (cart.total_price * 10 / 11).to_i %>
                  <% end %>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="5">
                        <p class="first-p">소계 |</p>
                        <p>부가세 |</p>
                        <p>결제액 |</p>
                      </td>
                      <td>
                        <p class="first-p"><%= number_with_delimiter(sub_total, delimiter: ',') %> 원</p>
                        <p><%= number_with_delimiter((sub_total * 0.1).to_i, delimiter: ',') %> 원</p>
                        <p><span class="grandTotal"><%= number_with_delimiter((sub_total * 11 / 10).to_i , delimiter: ',' ) %> 원</span></p>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
          </div>
          
          <form action="/orders/create" method="GET" class="form-horizontal" id="order-form">
            <!-- 주문자 정보 입력 -->
            <div class="col-sm-6">
              <div class="page-header">
                <h4>주문자 정보</h4>
                주문하시는 분의 정보를 입력해 주세요
              </div>
              <div class="form-group" style="margin-left: 0px; margin-right: 0px;">
                <label class="col-sm-3 control-label">주문 고객명</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="username" required>
                </div>
                <label class="col-sm-3 control-label" style="margin-top: 10px">이메일</label>
                <div class="col-sm-9" style="margin-top: 10px">
                  <input type="email" class="form-control" name="email" placeholder = "cctv@gomak.com" required>
                </div>
                <label class="col-sm-3 control-label" style="margin-top: 10px">전화번호</label>
                <div class="col-sm-9" style="margin-top: 10px">
                  <input type="tel" class="form-control" name="phone" placeholder="'-' 없이 입력해주세요" required>
                </div>
                <label class="col-sm-3 control-label" style="margin-top: 10px">배송희망일</label>
                <div class="col-sm-9" style="margin-top: 10px">
                  <input type="date" class="form-control" name="arrive_date" required>
                </div>
              </div>
            </div>
            <!-- 받는사람 정보 입력 -->
            <div class="col-sm-6">
              <div class="page-header">
                <h4>수령인 정보</h4>
                <input id="same_info" type="checkbox" name="same_info"> 주문자 정보와 동일 
              </div>
              <div class="form-group" style="margin-left: 0px; margin-right: 0px;">
                <label class="col-sm-3 control-label">수령인 성명 </label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="arrive_username" required>
                </div>
                <label class="col-sm-3 control-label" style="margin-top: 10px">이메일</label>
                <div class="col-sm-9" style="margin-top: 10px">
                  <input type="email" class="form-control" name="arrive_email" placeholder = "cctv@gomak.com" required>
                </div>
                <label class="col-sm-3 control-label" style="margin-top: 10px">전화번호</label>
                <div class="col-sm-9" style="margin-top: 10px">
                  <input type="tel" class="form-control" name="arrive_phone" placeholder="'-' 없이 입력해주세요" required>
                </div>
                <label class="col-sm-3 control-label" style="margin-top: 10px">우편번호</label>
                <div class="col-sm-6 col-xs-9" style="margin-top: 10px">
                  <input type="text" class="form-control postcodify_postcode5" name="arrive_address_number" id = "postcode" required>
                </div>
                <div class="col-sm-3 col-xs-3">     
                <div class="panel panel-default" style="border: 0px; margin-bottom: 0px;">
                  <div class="panel-body" style="border: 0px; padding-bottom: 0px; padding-top:0px; margin-bottom: 10px; padding-left: 3px; padding-right:15px;">
                    <button type="button" data-toggle="modal" href=".login-modal" class="btn  btn-submit" style = "font-size: 12px; font-weight: 400; height: 35px; width: 100%; margin-top: 10px; border-radius:0px">검색</button>
                    <!-- <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li> -->
                  </div>
                </div>
                </div>
                <label class="col-sm-3 control-label" style="margin-top: 10px">주소</label>
                <div class="col-sm-9" style="margin-top: 10px">
                  <input type="text" class="form-control postcodify_address" name="arrive_address" id="address" required>
                </div>
                <label class="col-sm-3 control-label" style="margin-top: 10px">상세주소</label>
                <div class="col-sm-9" style="margin-top: 10px">
                  <input type="text" class="form-control postcodify_details" name="arrive_address_detail" id="details"> 
                </div>
              </div>
              <div style="text-align:left; margin-bottom: 10px;">
                <input type="checkbox"/ class="agreement-check" name="mailreceive_check"><span style="margin-left: 10px">이메일 수신동의(선택)</span>
              </div>
              <div style="text-align:left; margin-bottom: 10px;">
                <input type="checkbox"/ class="agreement-check" required><span style="margin-left: 10px">이용약관에 동의합니다</span> <a data-toggle="modal" href=".condition-modal" style="color:black;">[상세보기]</a>
              </div>
              <div style="text-align:left; margin-bottom: 10px;">
                <input type="checkbox"/ class="agreement-check" required><span style="margin-left: 10px">비회원 개인정보 수집에 동의합니다</span> <a data-toggle="modal" href=".privacy-modal" style="color:black;">[상세보기]</a>
              </div>
            </div>
            <div class="col-xs-12" style="text-align:right">
              <button class="btn btn-submit" style="border-radius:0px;">주문하기</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


<% content_for :javascript do %>
<script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
<script type="text/javascript">


$(function() {
  $(".btn-address").click(function(){
    $(".keyword").addClass("form-control");
    $(".search_button").addClass("btn btn-primary btn-block");
    $(".keyword").css({"display":"inline", "width":"80%"});
    $(".search_button").css({"width":"15%", "display":"inline", "height":"35px", "line-height":"35px"});
  });
  

  $("#postcodify_search_button").postcodifyPopUp();
  $("#postcodify").postcodify({
        insertPostcode5 : "#postcode",
        insertAddress : "#address",
        insertDetails : "#details",
        hideOldAddresses : false,
        afterSelect : function(selectedEntry) {
          $("#login").removeClass("in").css("display","none");
          $("body").removeClass("modal-open");
          $(".modal-backdrop").fadeOut(300);
        }
    });

  $("#same_info").click(function(){
    var isTrue = $(this).is(':checked');
    if (!isTrue) {
      $("[name='arrive_username']").val("");
      $("[name='arrive_email']").val("");
      $("[name='arrive_phone']").val("");
    } else {
      $("[name='arrive_username']").val($("[name='username']").val());
      $("[name='arrive_email']").val($("[name='email']").val());
      $("[name='arrive_phone']").val($("[name='phone']").val());  
    }
  });

  // $('#btn-order').click(function(){
  //   $("#order-form").submit();
  // });
});

</script>

<% end %>















