<!-- BANNER -->
<div class="bannercontainer bannerV1" style="margin-top: 50px;">
  <div class="fullscreenbanner-container">
    <div class="fullscreenbanner">
      <ul>
        <% @banners.each do |banner| %>
          <% if banner.is_left %>
          <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700"  data-title="Slide 3" onclick="location.href='/gifts/single_product/<%= banner.product.id %>';">
            <img src="<%= banner.background_url %>" alt="slidebg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
            <div class="slider-caption slider-captionV1 container">
              <div class="tp-caption rs-caption-1 sft start"
                data-hoffset="0"
                data-y="54"
                data-speed="800"
                data-start="1500"
                data-easing="Back.easeInOut"
                data-endspeed="300" style="left:90px">
                <img src="<%= banner.product_url %>" alt="slider-image">
              </div>
            </div>
          </li>          
          <% else %>
          <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" data-title="Slide 1" onclick="location.href='/gifts/single_product/<%= banner.product.id %>';">
            <img src="<%= banner.background_url %>" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
            <div class="slider-caption slider-captionV1 container">
              
              <div class="tp-caption rs-caption-1 sft start" 
                data-hoffset="0" 
                data-x="800" 
                data-y="54" 
                data-speed="800" 
                data-start="1500" 
                data-easing="Back.easeInOut" 
                data-endspeed="300" >
                <img src="<%= banner.product_url %>" alt="slider-image">
              </div>
            </div>
          </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix" style="padding-bottom: 0px">
  <!-- 1단 상품 -->
  <div class="container-custom">
    <div class="recommend-container">
      <div class="products-header" style = "margin-top: 40px;">
        <h4>MD 추천상품</h4>  
      </div>
      <div class="products-content row">
        <% @recommends.each do |recommend| %>
        <a href="/gifts/single_product/<%= recommend.product.id %>">
        <div class="col-sm-3 col-xs-6 recommend-areas">
          <div class="img-box" style="margin-bottom: 20px;">
            <img src="<%= recommend.img_url %>" alt="" width="100%">
          </div>
          <div class="products-descript">
            <div class="product-detail">
              <h5 style="margin-bottom: 5px; font-weight: normal"><%= recommend.title %></h5>
              <%= recommend.subtitle %>
            </div>
          </div>
        </div>
        </a>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container-custom">
    <!-- FEATURE COLLECTION SECTION -->
    <div class="row featuredCollection version2" style="margin-top: 20px;">
      <div class="col-sm-6 col-xs-12" style="padding-left:0px; padding-right: 0px; border: 0.5px solid white">
        <div class="slide" style="background-image: url('http://image.29cm.co.kr/contents/site/201701/20170126121152.jpg?cmd=thumb&height=300')">
          <a href="/gifts/single_story" class="story-box"></a>
        </div>
      </div> 
      <div class="col-sm-6 col-xs-12" style="padding-left:0px; padding-right: 0px; border: 0.5px solid white">
        <div class="slide" style="background-image: url(http://image.29cm.co.kr/contents/site/201701/20170126120655.jpg?cmd=thumb&height=300);">
          <a href="/gifts/single_story" class="story-box"></a>
        </div>
      </div> 
    </div>
  </div>

  <!-- 상품 구체화 -->
  <div class="container grid" style="width:70%">
    <div class="products-content grid-sizer"></div>
    <% @products.each do |product| %>
    <div class="products-content grid-item">
      <a href="/gifts/single_product/<%= product.id %>">
        <div class="product-container">
          <div class="img-box">
            <img src="<%= product.thumbnails.first.img_url %>" alt="" width="100%">
          </div>
          <div class="products-descript">
            <div class="product-title" style="line-height:30px;">
              <%= product.mainpage_title %>
            </div>
            <div class="product-detail">
              <%= product.mainpage_story %>
            </div>
          </div>
        </div>
      </a>
    </div>
    <% end %>
  </div>
</section>


<% content_for :javascript do %>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script type="text/javascript">


$(function() {
  
  
  // Hide #MagicMenu on on scroll down
  var didScroll;
  var lastScrollTop = 0;
  var delta = 5;
  var navbarHeight = $('.navbar').outerHeight();

  $(window).scroll(function(event){
      didScroll = true;
  });

  setInterval(function() {
      if (didScroll) {
          hasScrolled();
          didScroll = false;
      }
  }, 250);

  function hasScrolled() {
      var st = $(this).scrollTop();
      
      // Make sure they scroll more than delta
      if(Math.abs(lastScrollTop - st) <= delta)
          return;
      
      // If they scrolled down and are past the navbar, add class .navbar-up.
      // This is necessary so you never see what is "behind" the navbar.
      if (st > lastScrollTop && st > navbarHeight){
          // Scroll Down
          $('.navbar').fadeOut(100);
      } else {
          // Scroll Up
          if(st + $(window).height() < $(document).height()) {
              $('.navbar').fadeIn(100);
          }
      }
      
      lastScrollTop = st;
  }
  $(window).resize(function(){
    var width = $(window).width();
    $('.grid').masonry({
        // options
        itemSelector: '.grid-item',
        // use element for option
        columnWidth: '.grid-item',
        percentPosition: true
      });

    if( width > 1200 ) {
      console.log('it is larger than 1200');
      $('.grid-item').removeClass("grid-item--width2 grid-item--width3");
    } else if (width > 768 ){
      $('.grid-item').removeClass("grid-item--width3");
      $('.grid-item').addClass("grid-item--width2");
      $('.grid').masonry({
        // options
        itemSelector: '.grid-item--width2',
        // use element for option
        columnWidth: '.grid-item--width2',
        percentPosition: true
      });
    } else {
      $('.grid-item').removeClass("grid-item--width2");
      $('.grid-item').addClass("grid-item--width3");
      $('.grid').masonry({
        // options
        itemSelector: '.grid-item--width3',
        // use element for option
        columnWidth: '.grid-item--width3',
        percentPosition: true
      });
    }
  });
});

</script>

<% end %>

