<!-- BANNER -->
<div class="bannercontainer bannerV1" style="margin-top: 60px">
  <div class="fullscreenbanner-container">
    <div class="fullscreenbanner">
      <ul>
        <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
          <img src="<%= image_path('bigbag/home/banner-slider/slider-bg.jpg') %>" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
          <div class="slider-caption slider-captionV1 container">
            
            <div class="tp-caption rs-caption-1 sft start" 
              data-hoffset="0" 
              data-x="370" 
              data-y="54" 
              data-speed="0" 
              data-start="500" 
              data-easing="Back.easeInOut" 
              data-endspeed="100" >
              <img src="<%= image_path('bigbag/home/banner-slider/shoe1.png') %>" alt="slider-image" style="width: 781px; height: 416px;">
            </div>

            <div class="tp-caption rs-caption-2 sft"
              data-hoffset="0"
              data-y="119"
              data-speed="800"
              data-start="2000"
              data-easing="Back.easeInOut"
              data-endspeed="300">
              씨앗연필
            </div>

            <div class="tp-caption rs-caption-3 sft"
              data-hoffset="0"
              data-y="185"
              data-speed="1000"
              data-start="3000"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off">
              환경까지 생각한 최고의 선택! <br>
              다 쓰고나면 화분에 심어주세요 <br>
              <!-- <small>2016 New arrival</small> -->
            </div>
          </div>
        </li>
        <% @products.each do |product| %>
        <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
          <img src="<%= image_path('bigbag/home/banner-slider/slider-bg.jpg') %>" alt="slidebg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
          <div class="slider-caption slider-captionV1 container captionCenter">
            <div class="tp-caption rs-caption-1 sft start text-center"
              data-x="center"
              data-y="150"
              data-speed="800"
              data-start="1500"
              data-easing="Back.easeInOut"
              data-endspeed="300">
              <img src="<%= product.product_image %>" alt="slider-image">
            </div>

            <div class="tp-caption rs-caption-2 sft text-center"
              data-x="center"
              data-y="98"
              data-speed="800"
              data-start="2000"
              data-easing="Back.easeInOut"
              data-endspeed="300">
              <%=raw product.subtitle %>
            </div>

            <div class="tp-caption rs-caption-3 sft text-center"
              data-x="center"
              data-y="50"
              data-speed="800"
              data-start="2000"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off">
              <%= product.title %>
            </div>

            <div class="tp-caption rs-caption-4 sft text-center"
              data-x="center"
              data-y="156"
              data-speed="800"
              data-start="3500"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off">
              <!-- <span class="page-scroll"><a href="#" class="btn primary-btn">Buy Now<i class="glyphicon glyphicon-chevron-right"></i></a></span> -->
            </div>
          </div>
        </li>
        <% end %>
        <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700"  data-title="Slide 3">
          <img src="<%= image_path('bigbag/home/banner-slider/slider-bg.jpg') %>" alt="slidebg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
          <div class="slider-caption slider-captionV1 container">
            <div class="tp-caption rs-caption-1 sft start"
              data-hoffset="0"
              data-y="85"
              data-speed="800"
              data-start="1500"
              data-easing="Back.easeInOut"
              data-endspeed="300">
              <img src="<%= image_path('bigbag/home/banner-slider/shoe3.png') %>" alt="slider-image">
            </div>

            <div class="tp-caption rs-caption-2 sft "
              data-hoffset="0"
              data-y="119"
              data-x="800"
              data-speed="800"
              data-start="2000"
              data-easing="Back.easeInOut"
              data-endspeed="300">
              Canvas Sneaker
            </div>

            <div class="tp-caption rs-caption-3 sft"
              data-hoffset="0"
              data-y="185"
              data-x="800"
              data-speed="1000"
              data-start="3000"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off">
              Exclusive to <br>
              BigBag <br>
              <small>Spring / Summer 2016</small>
            </div>

            <div class="tp-caption rs-caption-4 sft"
              data-hoffset="0"
              data-y="320"
              data-x="800"
              data-speed="800"
              data-start="3500"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off">
              <!-- <span class="page-scroll"><a href="#" class="btn primary-btn">Buy Now<i class="glyphicon glyphicon-chevron-right"></i></a></span> -->
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix" style="padding-top: 50px">
  <div class="container-custom">
    <!-- FEATURE COLLECTION SECTION -->
    <div class="row featuredCollection version2">
      <div class="page-header" style="margin-bottom: 0px; border-bottom: 0px">
        <h2>Featured Products</h2>
      </div>
      <div class="small-line"></div>
      <!-- 반복구간 -->
      <% @products.each do |product| %>
      <div class="col-sm-3 col-xs-12" style="padding-left:0px; padding-right: 0px; border: 0.5px solid white">
        <div class="slide" style="margin-top: 10px;">
          <div class="productImage clearfix text-left">
            <a href="/gifts/single_product/<%= product.id %>"><img src="<%= product.product_image %>" alt="Product Image"></a>
          </div>
          <div class="productCaption clearfix text-right">
            <h3><a href="/gifts/single_product"><%= product.title %></a></h3>
            <p><%=raw product.subtitle %></p>
            <a href="/gifts/single_product" class="btn btn-border">Shop Now</a>
          </div>
        </div>
      </div>
      <% end %>
      <!-- 끝 -->
      <div class="col-sm-3 col-xs-12" style="padding-left:0px; padding-right: 0px; border: 0.5px solid white">
        <div class="slide" style="margin-top: 10px;">
          <div class="productImage clearfix text-left">
            <a href="single-product.html"><img src="<%= image_path('bigbag/home/featured-collection/product-img1.png') %>" alt="Product Image"></a>
          </div>
          <div class="productCaption clearfix text-right">
            <h3><a href="single-product.html">for women’s</a></h3>
            <p>Lorem ipsum dolor sit ameit</p>
            <a href="single-product.html" class="btn btn-border">Shop Now</a>
          </div>
        </div>
      </div> 
      <div class="col-sm-3 col-xs-12" style="padding-left:0px; padding-right: 0px; border: 0.5px solid white">
        <div class="slide" style="margin-top: 10px;">
          <div class="productImage clearfix text-left">
            <a href="single-product.html"><img src="<%= image_path('bigbag/home/featured-collection/product-img1.png') %>" alt="Product Image"></a>
          </div>
          <div class="productCaption clearfix text-right">
            <h3><a href="single-product.html">for women’s</a></h3>
            <p>Lorem ipsum dolor sit ameit</p>
            <a href="single-product.html" class="btn btn-border">Shop Now</a>
          </div>
        </div>
      </div> 
      <div class="col-sm-3 col-xs-12" style="padding-left:0px; padding-right: 0px; border: 0.5px solid white">
        <div class="slide" style="margin-top: 10px;">
          <div class="productImage clearfix text-left">
            <a href="single-product.html"><img src="<%= image_path('bigbag/home/featured-collection/product-img1.png') %>" alt="Product Image"></a>
          </div>
          <div class="productCaption clearfix text-right">
            <h3><a href="single-product.html">for women’s</a></h3>
            <p>Lorem ipsum dolor sit ameit</p>
            <a href="single-product.html" class="btn btn-border">Shop Now</a>
          </div>
        </div>
      </div> 
    </div>
  </div>
</section>


<!-- LIGHT SECTION -->
<section class="lightSection clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="owl-carousel partnersLogoSlider">
          <div class="slide">
            <div class="partnersLogo clearfix">
              <img src="<%= image_path('bigbag/home/partners/partner-01.png') %>" alt="partner-img">
            </div>
          </div>  
          <div class="slide">
            <div class="partnersLogo clearfix">
              <img src="<%= image_path('bigbag/home/partners/partner-02.png') %>" alt="partner-img">
            </div>
          </div>
          <div class="slide">
            <div class="partnersLogo clearfix">
              <img src="<%= image_path('bigbag/home/partners/partner-03.png') %>" alt="partner-img">
            </div>
          </div>
          <div class="slide">
            <div class="partnersLogo clearfix">
              <img src="<%= image_path('bigbag/home/partners/partner-04.png') %>" alt="partner-img">
            </div>
          </div>
          <div class="slide">
            <div class="partnersLogo clearfix">
              <img src="<%= image_path('bigbag/home/partners/partner-05.png') %>" alt="partner-img">
            </div>
          </div>
          <div class="slide">
            <div class="partnersLogo clearfix">
              <img src="<%= image_path('bigbag/home/partners/partner-01.png') %>" alt="partner-img">
            </div>
          </div>  
          <div class="slide">
            <div class="partnersLogo clearfix">
              <img src="<%= image_path('bigbag/home/partners/partner-02.png') %>" alt="partner-img">
            </div>
          </div>
          <div class="slide">
            <div class="partnersLogo clearfix">
              <img src="<%= image_path('bigbag/home/partners/partner-03.png') %>" alt="partner-img">
            </div>
          </div>
        </div>              
      </div>
    </div>
  </div>
</section>


<% content_for :javascript do %>

<script type="text/javascript">


$(function() {
  
  
  // Hide #MagicMenu on on scroll down
  var didScroll;
  var lastScrollTop = 0;
  var delta = 5;
  var navbarHeight = $('.navbar').outerHeight();

  $(window).scroll(function(event){
      didScroll = true;
  });

  setInterval(function() {
      if (didScroll) {
          hasScrolled();
          didScroll = false;
      }
  }, 250);

  function hasScrolled() {
      var st = $(this).scrollTop();
      
      // Make sure they scroll more than delta
      if(Math.abs(lastScrollTop - st) <= delta)
          return;
      
      // If they scrolled down and are past the navbar, add class .navbar-up.
      // This is necessary so you never see what is "behind" the navbar.
      if (st > lastScrollTop && st > navbarHeight){
          // Scroll Down
          $('.navbar').fadeOut(100);
      } else {
          // Scroll Up
          if(st + $(window).height() < $(document).height()) {
              $('.navbar').fadeIn(100);
          }
      }
      
      lastScrollTop = st;
  }
});

</script>

<% end %>

