<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix m-t-60">
  <div class="container">
    <div class="accordion margin-bottom">
      <div class="cs-detail margin-bottom col-sm-12" style="padding-right: 0px;">
        <h1 class="cs-title">나의 문의 내역</h1>
        <div class="row">
          <div class="col-sm-6" style="vertical-align: middle;">
           <h3>문의건수 : <%= @comments.count %> 건 / 답변완료 : <%= @comments.where('is_replied = ?', true).count %> 건</h3>
          </div>
          <div class="col-sm-6" style="text-align: right; margin-top: 50px;">
            <h5 style="margin-bottom: 10px">고객문의</h5>
            <h1>1522 - 9406</h1>
            <h6 style="margin-top: 0px;margin-bottom: 5px">support@gomakgift.com</h6>
            <h6 style="margin-top: 5px">AM 09:30 - PM 06:30</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="cs-detail">
      <div class="page-header" style="border-bottom: 0px; margin-left: 5px;">
        <h2>1 : 1 문의내역</h2>
      </div>
      <div class="row">
        <div class="col-xs-12" style="padding-right: 0px; padding-left: 5px;">
          <table class="table table-hover inquire-table">
            <thead>
            <tr>
                <th style="border-top: 1px solid black">구분</th>
                <th style="border-top: 1px solid black">내용</th>
                <th style="border-top: 1px solid black">상태</th>
                <th style="border-top: 1px solid black">작성일시</th>
            </tr>
            </thead>
            <tbody>
            <% if @comments.exists? %>
              <% @comments.each do |comment| %>
              <tr class="question">
                  <td><%= comment.category %></td>
                  <td><span class="pie"><%= comment.content %></span></td>
                  <% if comment.is_replied %>
                    <td><span style="color: #fe7732; font-weight: 500">답변완료</span></td>
                  <% else %>
                    <td><span style="color: gray">확인중</span></td>
                  <% end %>
                  <td class="text-navy"><%= comment.created_at.strftime("%Y-%m-%d, %H:%M") %></td>
              </tr>
                <% comment.replies.each do |reply| %>
                <tr class="answer" style="display:none;">
                    <td style="border-right:0px; background-color: rgba(221,221,221,0.3)"></td>
                    <td colspan="3" style="text-align: left; padding: 20px 10px; background-color: rgba(221,221,221,0.3);">A. <%= reply.content %></td>
                </tr>
                <% end %>
              <% end %>
            <% else %>
              <tr class="question">
                <td colspan="4">문의한 내역이 없습니다</td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <hr>
      <div class="page-header" style="border-bottom: 0px; margin-top: 40px; margin-bottom: 0px; margin-left: 5px;">
        <h2>문의하기</h2>
      </div>
      <div class="stepsPage col-sm-12" style= "padding-top: 20px">
        <form method="GET" action="/comments/create" class="form-horizontal" role="form">
          <!-- 주문자 정보 입력 -->
          <div class="form-group" style="margin: 0px;">
            <label class="col-sm-1 control-label" style="margin-top: 10px">구분</label>
            <div class="col-sm-9" style="margin-top: 10px; padding-left: 15px;">
              <select class="select-custom" name="category">
                <option value="" selected required>문의내용을 선택해주세요</option>
                <option value="인쇄문의">인쇄문의</option>
                <option value="시안문의">시안문의</option>
                <option value="배송문의">배송문의</option>            
              </select>
            </div>
            <div class="col-sm-2" style="margin-top: 10px">
              <button type="submit" class="btn-submit" style="width: 100%">제출</button>
            </div>
          </div>
          <div class="form-group" style="margin-left: 0px; margin-right: 0px;">
            <label class="col-sm-1 control-label" style="margin-top: 10px">문의내용</label>
            <div class="col-sm-11" style="margin-top: 10px">
              <textarea placeholder="255자 이내로 입력해 주세요" name="content" rows="10" style="width:100%; border:1px solid #000000" required></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<% content_for :javascript do %>

<script type="text/javascript">


$(function() {
  $('.question').first().next().css("display","")
  $('.question').click(function(){
    $('.answer').css("display", "none");
    $(this).next().css("display" , "");
  });
});

</script>

<% end %>