<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix m-t-60">
  <div class="container">
    <div class="accordion margin-bottom">
      <div class="cs-detail margin-bottom col-sm-12" style="padding-right: 0px;">
        <h1 class="cs-title">나의 주문 현황</h1>
        <div class="row">
          <div class="col-sm-6" style="vertical-align: middle;">
           <h3>주문건수 : <%= @orders.count %> 건 / 배송완료 : <%= @orders.where('is_finished = ?', true).count %> 건</h3>
          </div>
          <div class="col-sm-6" style="text-align: right; margin-top: 50px;">
            <h5 style="margin-bottom: 10px">고객문의</h5>
            <h1>1522 - 9406</h1>
            <h6 style="margin-top: 0px;margin-bottom: 5px">support@gomakgift.com</h6>
            <h6 style="margin-top: 5px">AM 09:30 - PM 06:30</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="cs-detail">
      <div class="page-header" style="border-bottom: 0px; margin-left: 5px;">
        <h2>전체주문현황</h2>
      </div>
      <div class="row">
        <div class="col-xs-12" style="padding-right: 0px; padding-left: 5px;">
          <table class="table table-hover all-order-table">
            <thead>
            <tr>
                <th style="border-top: 1px solid black">주문일자</th>
                <th style="border-top: 1px solid black">상품내역</th>
                <th style="border-top: 1px solid black">결제금액</th>
                <th style="border-top: 1px solid black">결제여부</th>
                <th style="border-top: 1px solid black">거래진행상태</th>
                <th style="border-top: 1px solid black">택배정보</th>
                <th style="border-top: 1px solid black">영수증출력</th>
                <th style="border-top: 1px solid black">상세보기</th>
            </tr>
            </thead>
            <tbody>
            <% if @orders.exists? %>
              <% @orders.each do |order| %>
              <% payment_product = Iamport.find(order.merchant_uid) %>
              <% is_exist = payment_product["response"].nil? %>
              <tr class="question">
                  <td>
                    <h5 style="margin-bottom: 0px;"><%= order.created_at.strftime("%Y-%m-%d") %></h5>
                  </td>
                  <td>
                    <% order.shoppingcarts.each do |shoppingcart| %>
                      <a href="/gifts/single_product/<%= shoppingcart.product_id %>"><%= shoppingcart.product.title %></a>
                      <small style="color:#676a6c;">(수량 : <%= shoppingcart.qty %>개)</small> <br/>
                    <% end %>
                      <small style="color:#676a6c;">주문번호 : <%= order.merchant_uid.nil? ? "결제 후 배정" : order.merchant_uid %></small>
                  </td>
                  <td style="font-size:15px"><%= number_with_delimiter(order.payment, :delimiter => ',') %> 원</td>
                  <td><%= is_exist ? "미결제" : payment_product["response"]["status"] == 'ready' ? '미결제' : payment_product["response"]["status"] == 'paid' ? '결제완료' : payment_product["response"]["status"] == 'cancelled' ? '결제취소' : '결제실패' %></td>
                  <td><% if order.is_cancled %>
                        <span style="color:#ED5565">주문취소 </span><small><br/>취소일시 : <%= order.datetime_cancled.to_date %>)</small>
                    <% elsif order.is_returned %>
                        <span style="color:#ED5565">환불처리 </span> <small><br/>환불일시 : <%= order.datetime_returned.to_date %></small>
                    <% elsif order.is_confirmed %>
                        <% if order.is_payed %>
                            <% if order.is_ordered %>
                                <% if order.datetime_delivered.nil? %>
                                  발주완료
                                <% else %>
                                  <% if order.is_finished %>
                                    배송완료
                                  <% else %>
                                    배송중
                                  <% end %>  
                                <% end %>
                            <% else %>
                                발주준비중
                            <% end %>
                        <% else %>
                            입금확인중
                        <% end %>
                    <% else %>
                        시안확인중
                    <% end %>
                  </td>
                  <td>
                    <% if order.datetime_delivered.nil? %>
                       상품준비중
                    <% else %>
                      <%= order.deliver_name %> <br/>
                      <%= order.deliver_number %>
                    <% end %>
                  </td>
                  <td>
                    <a href='<%= payment_product["response"].nil? ? "#" : payment_product["response"]["receipt_url"] %>' target="_blank">[영수증 출력]</a> 
                  </td>
                  <td><a href="/gifts/payment/<%= order.id %>">[ 자세히보기 ]</td>
              </tr>
              <% end %>
            <% else %>
              <tr class="question">
                <td colspan="8">구매한 내역이 없습니다</td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :javascript do %>

<script type="text/javascript">


$(function() {
  $('.question').click(function(){
    $('.answer').css("display", "none");
    $(this).next().css("display" , "");
  });
});

</script>

<% end %>