<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
<!-- BANNER -->
<div class="single-product-banner">
    <div class="single-product-wrapper">
        <div class="single-product-container">
            <img src="<%= @theme.big_banner %>" alt="<%= @theme.supplier.company_name %> 이야기" style="cursor:default">
        </div>
    </div>
</div>
<div class="container-custom">
  <!-- FEATURE COLLECTION SECTION -->
  <div class="row featuredCollection version2" style="margin-top: 10px; margin-bottom: 10px;">
    <div class="col-sm-12 col-lg-offset-2 col-lg-8" style="padding-left: 0px; padding-right: 0px;">
      <img src="<%= @theme.detail %>" alt="<%= @theme.supplier.company_name %>, <%= @theme.supplier.category %>" class="img-responsive" style="width:100%">      
    </div>
  </div>
</div>
<div class="container">
  <!-- 추천상품영역 -->
  <div class="row productsContent">
    <div class="col-xs-12">
      <div class="page-header">
        <h5>스토리 관련 상품</h5>
      </div>
    </div>
    <% @theme.supplier.products.each do |product| %>
    <div class="col-md-3 col-xs-6 story-product" onclick="location.href='/gifts/single_product/<%= product.id %>';">
      <div class="productBox">
        <div class="productImage clearfix" style="margin-bottom: 0px">
          <img src="<%= product.thumbnails.first.img_url %>" alt="<%= product.title %>, <%= product.category %>">
        </div>
        <div class="productCaption clearfix">
         <p><%= product.category %></p>
         <div class="product-title">
           <%= product.title %>
         </div>
         <p><span style="color:#ff2500; font-size: 1.1em;">최저가 : <%= product.price.price_min %>원</span></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <!-- 끝 -->
</div>

</section>
<!-- 위로가기버튼 -->
<a id="toTop" href="#"><img src="<%= image_path('bigbag/arrows/btop.png') %>" width="55" height="55" alt="맨 위로"></a>

<% content_for :javascript do %>
<script type="text/javascript" src="<%= asset_path('bigbag/plugins/jquery-number/jquery.number.min.js') %>"></script>

<script type="text/javascript">


$(function() {
  // Hide #MagicMenu on on scroll down
  var didScroll;
  var lastScrollTop = 0;
  var delta = 5;
  var navbarHeight = $('.navbar').outerHeight();


  $(window).scroll(function(event){
      didScroll = true;
  });

  // $("#product_information").hide();

  setInterval(function() {
      if (didScroll) {
          hasScrolled();
          didScroll = false;
      }
  }, 250);

  function hasScrolled() {
      var st = $(this).scrollTop();
      
      // Make sure they scroll more than delta
      if(Math.abs(lastScrollTop - st) <= delta)
          return;
      
      // If they scrolled down and are past the navbar, add class .navbar-up.
      // This is necessary so you never see what is "behind" the navbar.
      if (st > lastScrollTop && st > navbarHeight){
          // Scroll Down
          $('.navbar').fadeOut(100);
      } else {
          // Scroll Up
          if(st + $(window).height() < $(document).height()) {
              $('.navbar').fadeIn(100);
          }
      }
      
      lastScrollTop = st;
  }

  $( window ).scroll( function() {
    if ( $( this ).scrollTop() > 1000 ) {
      $( '#toTop' ).fadeIn();
    } else {
      $( '#toTop' ).fadeOut();
    }
  } );

  $( '#toTop' ).click( function() {
    $( 'html, body' ).animate( { scrollTop : $('.mainContent').offset().top - 60 }, 400 );
    return false;
  } );


});

</script>

<% end %>

