<div class="col-lg-offset-2 col-lg-8">
	<div class="header-wrapper">
		<div class="header">
			<h1>GOMAKCULTURE</h1>
			<h1>무디패 디자인 진단서</h1>
		</div>
		<hr style="border-top: 1px solid rgba(0,0,0,0.05)">
		<div class="header-detail">
			<p>
				3개월 / 6개월 / 12개월 단위 계약 확립(패키지별 가격 정립) 가능 <br>
				3개월 이상 계약시부터, 가이드 북이 제공됩니다.
			</p>
		</div>
	</div>
	<form action="/gomakdesigns/create" method="POST">
		<div class="chkbox-wrapper col-lg-12">
			<h4>원하시는 패키지를 선택해주세요</h4>
			<label class="checkbox-inline">
				<input type="checkbox" value="poster_design" class="chk-package" name="chk_package[]"> 포스터 / 전단지 / 명함 / 봉투 디자인
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" value="broshure_design" class="chk-package" name="chk_package[]"> 브로셔 / 리플렛
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" value="logo_design" class="chk-package" name="chk_package[]"> 로고 디자인
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" value="package_design" class="chk-package" name="chk_package[]"> 패키지 디자인
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" value="web_design" class="chk-package" name="chk_package[]"> 웹 디자인
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" value="app_design" class="chk-package" name="chk_package[]"> 앱 디자인
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" value="web_ad_design" class="chk-package" name="chk_package[]"> 웹 광고 디자인
			</label>
		</div>
		<div class="content-wrapper col-lg-12" id="common" style="padding-left:30px; padding-right: 30px;">
			<div class="contents-header">
				<h2>일반작성내용</h2>
			</div>
			<div class="contents-detail">
				<div class="row">
					<div class="col-sm-4 left-content">
						<h2>1.</h2> <h4>회사를 선택해주세요</h4>
						<p>사이트 주소를 받으셨다면 <br>
						클라이언트로 등록이 완료된 상태입니다.<br>
						오른쪽에 클라이언트를 선택해 주시고,<br>
						프로젝트에 대한 간단한 설명을 적어주세요<br>
						</p>
					</div>
					<div class="col-sm-offset-1 col-sm-7 form-group form-group-block right-content">
						<label>클라이언트 | </label>
						<select name="client_id" id="select_box" required>
							<option value="" selected disabled>본인의 회사를 선택해주세요</option>
							<% @clients.each do |client| %>	
								<option value="<%= client.id %>"><%= client.com_name %> - 담당자 : <%= client.manager %>님</option>
							<% end %>
						</select>
					</div>
					<div class="col-sm-offset-1 col-sm-7 form-group form-group-block right-content">
						<label>프로젝트 설명 | </label>
						<textarea name="service_intro" style="height:100px" class="textarea input-large gomakform" cols="30" rows="40" required></textarea>
						<small>프로젝트의 목적 및 방향성을 간단하게 적어주세요</small>
					</div>
				</div>
			</div>
		</div>
		<div class="content-wrapper col-lg-12" id="poster_design" style="padding-left:30px; padding-right: 30px;">
			<div class="contents-header">
				<h2>인쇄 디자인 부분</h2>
				<h4>포스터 / 전단지 / 명함 / 봉투</h4>
			</div>
			<div class="contents-detail">
				<div class="row">
					<div class="col-sm-4 left-content">
						<h2>2.</h2> <h4>무엇을 디자인 해드릴까요?</h4>
					</div>
					<div class="col-sm-offset-1 col-sm-7 form-group form-group-block right-content">
						<input type="text" class="input-large gomakform" name="poster_design_step2">
						<small>ex) 전시용 포스터, 일반 홍보용 전단지 등</small>
					</div>
				</div>
				<hr style="border-top: 1px solid rgba(0,0,0,0.05)">
				<div class="row">
					<div class="col-sm-4 left-content">
						<h2>3.</h2> <h4>디자인 브리핑 상세내용</h4>
						<p>좋은 디자인을 얻기 위해 가장 중요한 부분입니다. 고객님의 설명이 세부적이고 명확할수록 마음에 꼭 드는 디자인을 받아 보실 확률이 높아집니다. <br>브리핑 작성과 관련하여 도움이 필요하시면 언제든지 000-0000-0000으로 전화해 주세요.
						</p>
					</div>
					<div class="col-sm-offset-1 col-sm-7 form-group form-group-block right-content">
						<!-- <label>회사 서비스 설명 : </label> -->
						<textarea name="poster_design_step3" style="height:200px" class="textarea input-large gomakform" cols="30" rows="40"></textarea>
						<!-- <small>ex) gomakculture는 놀라운 아이디어를 통해 고객에게 브랜드 감동을 실현시키는 크리에이티브 프로모션 컴퍼니입니다. 자기복제를 통한 브랜드의 가치 상승과 기존의 업을 재 정의하면서 새롭게 혁신하는 기업입니다.</small> -->
					</div>
				</div>
			</div>
		</div>
		<div class="content-wrapper col-lg-12" id="broshure_design" style="padding-left:30px; padding-right: 30px;">
			<div class="contents-header">
				<h2>인쇄 디자인 부분</h2>
				<h4>브로셔 / 리플렛</h4>
			</div>
			<div class="contents-detail">
				<div class="row">
					<div class="col-sm-4 left-content">
						<h2>2.</h2> <h4>어떤 용도로 활용하실 계획인가요?</h4>
					</div>
					<div class="col-sm-offset-1 col-sm-7 form-group form-group-block right-content">
						<input type="text" class="input-large gomakform" name="broshure_design_step2">
						<small>ex) 전시용 포스터, 일반 홍보용 전단지 등</small>
					</div>
				</div>
				<hr style="border-top: 1px solid rgba(0,0,0,0.05)">
				<div class="row">
					<div class="col-sm-4 left-content">
						<h2>3.</h2> <h4>디자인 브리핑 상세내용</h4>
						<p>좋은 디자인을 얻기 위해 가장 중요한 부분입니다. 고객님의 설명이 세부적이고 명확할수록 마음에 꼭 드는 디자인을 받아 보실 확률이 높아집니다. <br>브리핑 작성과 관련하여 도움이 필요하시면 언제든지 000-0000-0000으로 전화해 주세요.
						</p>
					</div>
					<div class="col-sm-offset-1 col-sm-7 form-group form-group-block right-content">
						<!-- <label>회사 서비스 설명 : </label> -->
						<textarea name="broshure_design_step3" style="height:200px" class="textarea input-large gomakform" cols="30" rows="40"></textarea>
						<!-- <small>ex) gomakculture는 놀라운 아이디어를 통해 고객에게 브랜드 감동을 실현시키는 크리에이티브 프로모션 컴퍼니입니다. 자기복제를 통한 브랜드의 가치 상승과 기존의 업을 재 정의하면서 새롭게 혁신하는 기업입니다.</small> -->
					</div>
				</div>
			</div>
		</div>
		<div class="content-wrapper col-lg-12" id="logo_design" style="padding-left:30px; padding-right: 30px;">
			<div class="contents-header">
				<h2>로고 디자인 부분</h2>
			</div>
			<div class="contents-detail">
				<div class="row">
					<div class="col-sm-4 left-content">
						<h2>2.</h2> <h4>선호하는 스타일의 로고를 선택해주세요 <br> (최대 3개)</h4>
					</div>
					<div class="col-sm-8 form-group form-group-block right-content">
						<ul class="gomak_logo_li_list">
							<li>
								<img src="<%= image_path('gomakdesign/logo_test.png') %>" alt="">
								<label class="checkbox-inline">
									<input type="checkbox" value="amblem" class="logo_style" name="logo_design_step2[]"> 엠블럼 로고
								</label>
								<p>회사명이 포함된 그림/표장을 이용한 로고</p>
							</li>
							<li>
								<img src="<%= image_path('gomakdesign/logo_test.png') %>" alt="">
								<label class="checkbox-inline">
									<input type="checkbox" value="amblem" class="logo_style" name="logo_design_step2[]"> 엠블럼 로고
								</label>
								<p>회사명이 포함된 그림/표장을 이용한 로고 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, veritatis necessitatibus dolorem. Doloremque dolores aut quo quibusdam, quia porro possimus fugiat iusto voluptatem adipisci illo, enim, incidunt similique atque sequi.</p>
							</li>
							<li>
								<img src="<%= image_path('gomakdesign/logo_test.png') %>" alt="">
								<label class="checkbox-inline">
									<input type="checkbox" value="amblem" class="logo_style" name="logo_design_step2[]"> 엠블럼 로고
								</label>
								<p>회사명이 포함된 그림/표장을 이용한 로고</p>
							</li>
							<li>
								<img src="<%= image_path('gomakdesign/logo_test.png') %>" alt="">
								<label class="checkbox-inline">
									<input type="checkbox" value="amblem" class="logo_style" name="logo_design_step2[]"> 엠블럼 로고
								</label>
								<p>회사명이 포함된 그림/표장을 이용한 로고</p>
							</li>
							<li>
								<img src="<%= image_path('gomakdesign/logo_test.png') %>" alt="">
								<label class="checkbox-inline">
									<input type="checkbox" value="amblem" class="logo_style" name="logo_design_step2[]"> 엠블럼 로고
								</label>
								<p>회사명이 포함된 그림/표장을 이용한 로고</p>
							</li>
						</ul>
					</div>
				</div>
				<hr style="border-top: 1px solid rgba(0,0,0,0.05)">
				<div class="row">
					<div class="col-sm-3 left-content">
						<h2>3.</h2> <h4>로고의 성격을 말해주세요</h4>
					</div>
					<div class="col-sm-offset-1 col-sm-8 form-group form-group-block right-content">
						<table>
							<colgroup>
								<col width="20%">
								<col width="60%">
								<col width="20%">
							</colgroup>
							<tbody>
								<!-- 여성/남성 -->
								<tr>
									<td>
										<label>여성스러운</label>
									</td>
									<td>
										<input type="range" min="0" max="10" step="1" name="logo_design_step3[]"/>
									</td>
									<td>
										<label style="float:right">남성스러운</label>
									</td>
								</tr>
								<!-- 젊은/성숙 -->
								<tr>
									<td>
										<label>젊은</label>
									</td>
									<td>
										<input type="range" min="0" max="10" step="1" name="logo_design_step3[]"/>
									</td>
									<td>
										<label style="float:right">
											성숙한
										</label>
									</td>
								</tr>
								<!-- 럭셔리/대중적 -->
								<tr>
									<td>
										<label>럭셔리한</label>
									</td>
									<td>
										<input type="range" min="0" max="10" step="1" name="logo_design_step3[]"/>
									</td>
									<td>
										<label style="float:right">
											대중적인
										</label>
									</td>
								</tr>
								<!-- 모던/클래식 -->
								<tr>
									<td>
										<label>모던한</label>
									</td>
									<td>
										<input type="range" min="0" max="10" step="1" name="logo_design_step3[]"/>
									</td>
									<td>
										<label style="float:right">
											클래식한
										</label>
									</td>
								</tr>
								<!-- 재미/진지 -->
								<tr>
									<td>
										<label>재미있는</label>
									</td>
									<td>
										<input type="range" min="0" max="10" step="1" name="logo_design_step3[]"/>
									</td>
									<td>
										<label style="float:right">
											진지한
										</label>
									</td>
								</tr>
								<!-- 시끄러운/조용한 -->
								<tr>
									<td>
										<label>시끄러운</label>
									</td>
									<td>
										<input type="range" min="0" max="10" step="1" name="logo_design_step3[]"/>
									</td>
									<td>
										<label style="float:right">
											조용한

										</label>
									</td>
								</tr>
								<!-- 단순한/복잡한 -->
								<tr>
									<td>
										<label>단순한</label>
									</td>
									<td>
										<input type="range" min="0" max="10" step="1" name="logo_design_step3[]"/>
									</td>
									<td>
										<label style="float:right">
											복잡한
										</label>
									</td>
								</tr>
								<!-- 모호한/정확한 -->
								<tr>
									<td>
										<label>모호한</label>
									</td>
									<td>
										<input type="range" min="0" max="10" step="1" name="logo_design_step3[]"/>
									</td>
									<td>
										<label style="float:right">
											정확한
										</label>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<hr style="border-top: 1px solid rgba(0,0,0,0.05)">
				<div class="row">
					<div class="col-sm-3 left-content">
						<h2>4.</h2> <h4>어떤 색상을 원하세요?</h4>
					</div>
					<div class="col-sm-offset-1 col-sm-7 form-group form-group-block right-content">
						<!-- <label>회사(단체)명 : </label> -->
						<input type="text" class="input-large gomakform" name="logo_design_step4">
						<small>ex) 하얀색, 노란색 보편적으로 색상이 가진 상징적 의미는 아래와 같습니다. <br/> 빨간색: 열정, 분노, 활력, 사랑, 위험 노란색: 지식, 에너지, 환희, 지성, 청춘 <br/> 초록색: 비옥함, 부, 치유, 성공, 성장, 자연 하얀색: 순수, 완벽, 꺠끗함, 선행 <br/> 파란색: 지식, 믿음, 평온함, 차분함, 평화, 시원함 <br/>검정색: 두려움, 비밀, 정중함, 럭셔리함 <br/>보라색: 고상함, 지혜, 정신적임, 상상력 <br/>주황색: 창의성, 격려, 독특함, 자극 회색: 균형, 세련됨, 중립적임</small>
					</div>
				</div>
				<hr style="border-top: 1px solid rgba(0,0,0,0.05)">
				<div class="row">
					<div class="col-sm-3 left-content">
						<h2>5.</h2> <h4>로고는 어디에 사용하실 계획인가요?</h4>
					</div>
					<div class="col-sm-offset-1 col-sm-7 form-group form-group-block right-content">
						<!-- <label>회사(단체)명 : </label> -->
						<input type="text" class="input-large gomakform" name="logo_design_step5">
						<small>
							ex) 프린트물 (명함, 편지지, 브로셔 등 ) <br/>
							인터넷 (웹사이트, 인터넷광고, 배너 등) <br/>
							상품 (컵, 티셔츠 등) <br/>
							간판 (광고판, 게시판 등) <br/>
							TV / 스크린 <br/>
						</small>
					</div>
				</div>	
				<hr style="border-top: 1px solid rgba(0,0,0,0.05)">
				<div class="row">
					<div class="col-sm-4 left-content">
						<h2>6.</h2> <h4>디자인 브리핑 상세내용</h4>
						<p>좋은 디자인을 얻기 위해 가장 중요한 부분입니다. 고객님의 설명이 세부적이고 명확할수록 마음에 꼭 드는 디자인을 받아 보실 확률이 높아집니다. <br>브리핑 작성과 관련하여 도움이 필요하시면 언제든지 000-0000-0000으로 전화해 주세요.
						</p>
					</div>
					<div class="col-sm-offset-1 col-sm-7 form-group form-group-block right-content">
						<!-- <label>회사 서비스 설명 : </label> -->
						<textarea name="logo_design_step6" style="height:200px" class="textarea input-large gomakform" cols="30" rows="40"></textarea>
						<!-- <small>ex) gomakculture는 놀라운 아이디어를 통해 고객에게 브랜드 감동을 실현시키는 크리에이티브 프로모션 컴퍼니입니다. 자기복제를 통한 브랜드의 가치 상승과 기존의 업을 재 정의하면서 새롭게 혁신하는 기업입니다.</small> -->
					</div>
				</div>
			</div>
		</div>
		<div class="content-wrapper col-lg-12" id="package_design" style="padding-left:30px; padding-right: 30px;">
			<div class="contents-header">
				<h2>패키지 디자인 부분</h2>
			</div>
			<div class="contents-detail">
				<div class="row">
					<div class="col-sm-4 left-content">
						<h2>2.</h2> <h4>어떤 상품의 패키지인가요?</h4>
					</div>
					<div class="col-sm-offset-1 col-sm-7 form-group form-group-block right-content">
						<input type="text" class="input-large gomakform" name="package_design_step2">
					</div>
				</div>
				<hr style="border-top: 1px solid rgba(0,0,0,0.05)">
				<div class="row">
					<div class="col-sm-4 left-content">
						<h2>3.</h2> <h4>디자인 브리핑 상세내용</h4>
						<p>좋은 디자인을 얻기 위해 가장 중요한 부분입니다. 고객님의 설명이 세부적이고 명확할수록 마음에 꼭 드는 디자인을 받아 보실 확률이 높아집니다. <br>브리핑 작성과 관련하여 도움이 필요하시면 언제든지 000-0000-0000으로 전화해 주세요.
						</p>
					</div>
					<div class="col-sm-offset-1 col-sm-7 form-group form-group-block right-content">
						<!-- <label>회사 서비스 설명 : </label> -->
						<textarea name="package_design_step3" style="height:200px" class="textarea input-large gomakform" cols="30" rows="40"></textarea>
						<!-- <small>ex) gomakculture는 놀라운 아이디어를 통해 고객에게 브랜드 감동을 실현시키는 크리에이티브 프로모션 컴퍼니입니다. 자기복제를 통한 브랜드의 가치 상승과 기존의 업을 재 정의하면서 새롭게 혁신하는 기업입니다.</small> -->
					</div>
				</div>
			</div>
		</div>
		<div class="content-wrapper col-lg-12" id="web_design" style="padding-left:30px; padding-right: 30px;">
			<div class="contents-header">
				<h2>웹 디자인 부분</h2>
			</div>
			<div class="contents-detail">
				<div class="row">
					<div class="col-sm-4 left-content">
						<h2>2.</h2> <h4>현재 운영중인 웹사이트가 있으신가요?</h4>
						<p>
							현재 운영중인 사이트가 있다면 작성해주세요
						</p>
					</div>
					<div class="col-sm-offset-1 col-sm-7 form-group form-group-block right-content">
						<!-- <label>제목 : </label> -->
						<input type="text" class="input-large gomakform" value="http://" name="web_design_step2">
						<!-- <small>ex) gomakculture logo 디자인의뢰</small> -->
					</div>
				</div>
				<hr style="border-top: 1px solid rgba(0,0,0,0.05)">
				<div class="row">
					<div class="col-sm-4 left-content">
						<h2>3.</h2> <h4>웹사이트 내에 몇 개의 페이지가 필요하신가요?</h4>
						<p>
							원하는 페이지 수 작성
						</p>
					</div>
					<div class="col-sm-offset-1 col-sm-7 form-group form-group-block right-content">
						<!-- <label>제목 : </label> -->
						<input type="text" class="input-large gomakform" name="web_design_step3">
						<!-- <small>ex) gomakculture logo 디자인의뢰</small> -->
					</div>
				</div>
				<hr style="border-top: 1px solid rgba(0,0,0,0.05)">
				<div class="row">
					<div class="col-sm-4 left-content">
						<h2>4.</h2> <h4>각 페이지에 무엇을 원하는지 말씀해주세요</h4>
						<p>예시 : 메인페이지에는 컨텐츠 영상이 재생되고, <br>
						그 아래로 사진이 나열되었으면 좋겠어요<br>
						사진을 클릭하면 컨텐츠에 대한 상세내역과 함께<br>
						추가적인 사진이 나열되었으면 좋겠습니다<br>
						</p>
					</div>
					<div class="col-sm-offset-1 col-sm-7 form-group form-group-block right-content">
						<!-- <label>회사 서비스 설명 : </label> -->
						<textarea name="web_design_step4" style="height:200px" class="textarea input-large gomakform" cols="30" rows="40"></textarea>
						<!-- <small>ex) gomakculture는 놀라운 아이디어를 통해 고객에게 브랜드 감동을 실현시키는 크리에이티브 프로모션 컴퍼니입니다. 자기복제를 통한 브랜드의 가치 상승과 기존의 업을 재 정의하면서 새롭게 혁신하는 기업입니다.</small> -->
					</div>
				</div>
				<hr style="border-top: 1px solid rgba(0,0,0,0.05)">
				<div class="row">
					<div class="col-sm-4 left-content">
						<h2>5.</h2> <h4>디자이너들이 참고할 웹사이트가 있으신가요?</h4>
						<p>예시 : http://gomakculture.com<br>
						상단 메뉴구성과 전체적인 색깔, 분위기가 심플하고 세련되어서 좋아요<br>
						</p>
					</div>
					<div class="col-sm-offset-1 col-sm-7 form-group form-group-block right-content">
						<!-- <label></label> -->
						<textarea name="web_design_step5" style="height:120px" class="textarea input-large gomakform" cols="30" rows="40"></textarea>
						<!-- <small>ex) gomakculture는 놀라운 아이디어를 통해 고객에게 브랜드 감동을 실현시키는 크리에이티브 프로모션 컴퍼니입니다. 자기복제를 통한 브랜드의 가치 상승과 기존의 업을 재 정의하면서 새롭게 혁신하는 기업입니다.</small> -->
					</div>
				</div>
				<hr style="border-top: 1px solid rgba(0,0,0,0.05)">
				<div class="row">
					<div class="col-sm-4 left-content">
						<h2>6.</h2> <h4>디자인 브리핑 상세내용</h4>
						<p>좋은 디자인을 얻기 위해 가장 중요한 부분입니다. 고객님의 설명이 세부적이고 명확할수록 마음에 꼭 드는 디자인을 받아 보실 확률이 높아집니다. <br>브리핑 작성과 관련하여 도움이 필요하시면 언제든지 000-0000-0000으로 전화해 주세요.
						</p>
					</div>
					<div class="col-sm-offset-1 col-sm-7 form-group form-group-block right-content">
						<!-- <label>회사 서비스 설명 : </label> -->
						<textarea name="web_design_step6" style="height:200px" class="textarea input-large gomakform" cols="30" rows="40"></textarea>
						<!-- <small>ex) gomakculture는 놀라운 아이디어를 통해 고객에게 브랜드 감동을 실현시키는 크리에이티브 프로모션 컴퍼니입니다. 자기복제를 통한 브랜드의 가치 상승과 기존의 업을 재 정의하면서 새롭게 혁신하는 기업입니다.</small> -->
					</div>
				</div>
			</div>
		</div>
		<div class="content-wrapper col-lg-12" id="app_design" style="padding-left:30px; padding-right: 30px;">
			<div class="contents-header">
				<h2>앱 디자인 부분</h2>
			</div>
			<div class="contents-detail">
				<div class="row">
					<div class="col-sm-4 left-content">
						<h2>2.</h2> <h4>디자이너들이 참고했으면 하는 앱 어플리케이션이 있으신가요?</h4>
						<p>참고해야할 어플리케이션이 있다면 작성해주세요
						</p>
					</div>
					<div class="col-sm-offset-1 col-sm-7 form-group form-group-block right-content">
						<input type="text" class="input-large gomakform" name="app_design_step2">
					</div>
				</div>
				<hr style="border-top: 1px solid rgba(0,0,0,0.05)">
				<div class="row">
					<div class="col-sm-4 left-content">
						<h2>3.</h2> <h4>디자인 브리핑 상세내용</h4>
						<p>좋은 디자인을 얻기 위해 가장 중요한 부분입니다. 고객님의 설명이 세부적이고 명확할수록 마음에 꼭 드는 디자인을 받아 보실 확률이 높아집니다. <br>브리핑 작성과 관련하여 도움이 필요하시면 언제든지 000-0000-0000으로 전화해 주세요.
						</p>
					</div>
					<div class="col-sm-offset-1 col-sm-7 form-group form-group-block right-content">
						<!-- <label>회사 서비스 설명 : </label> -->
						<textarea name="app_design_step3" style="height:200px" class="textarea input-large gomakform" cols="30" rows="40"></textarea>
						<!-- <small>ex) gomakculture는 놀라운 아이디어를 통해 고객에게 브랜드 감동을 실현시키는 크리에이티브 프로모션 컴퍼니입니다. 자기복제를 통한 브랜드의 가치 상승과 기존의 업을 재 정의하면서 새롭게 혁신하는 기업입니다.</small> -->
					</div>
				</div>
			</div>
		</div>
		<div class="content-wrapper col-lg-12" id="web_ad_design" style="padding-left:30px; padding-right: 30px;">
			<div class="contents-header">
				<h2>웹 광고디자인 부분</h2>
			</div>
			<div class="contents-detail">
				<div class="row">
					<div class="col-sm-4 left-content">
						<h2>2.</h2> <h4>어떤 영역에 광고하실 예정인가요?</h4>
					</div>
					<div class="col-sm-offset-1 col-sm-7 form-group form-group-block right-content">
						<input type="text" class="input-large gomakform" name="web_ad_design_step2">
						<small>ex) 네이버 디스플레이 광고</small>
					</div>
				</div>
				<hr style="border-top: 1px solid rgba(0,0,0,0.05)">
				<div class="row">
					<div class="col-sm-4 left-content">
						<h2>3.</h2> <h4>디자인 브리핑 상세내용</h4>
						<p>좋은 디자인을 얻기 위해 가장 중요한 부분입니다. 고객님의 설명이 세부적이고 명확할수록 마음에 꼭 드는 디자인을 받아 보실 확률이 높아집니다. <br>브리핑 작성과 관련하여 도움이 필요하시면 언제든지 000-0000-0000으로 전화해 주세요.
						</p>
					</div>
					<div class="col-sm-offset-1 col-sm-7 form-group form-group-block right-content">
						<!-- <label>회사 서비스 설명 : </label> -->
						<textarea name="web_ad_design_step3" style="height:200px" class="textarea input-large gomakform" cols="30" rows="40"></textarea>
						<!-- <small>ex) gomakculture는 놀라운 아이디어를 통해 고객에게 브랜드 감동을 실현시키는 크리에이티브 프로모션 컴퍼니입니다. 자기복제를 통한 브랜드의 가치 상승과 기존의 업을 재 정의하면서 새롭게 혁신하는 기업입니다.</small> -->
					</div>
				</div>
			</div>
		</div>
		
		<div class="chkbox-wrapper col-lg-12" style="padding-left: 30px;">
			<div class="row">
					<div class="col-sm-4 left-content">
						<h3>기타 <h3>
						<h4>디자이너들이 참고할만한 이미지, 스케치, 템플릿 등의 자료가 있으신가요?</h4>
						<!-- <p>예시 : http://gomakculture.com<br>
						상단 메뉴구성과 전체적인 색깔, 분위기가 심플하고 세련되어서 좋아요<br>
						</p> -->
					</div>
					<div class="col-sm-offset-1 col-sm-7 form-group form-group-block right-content" style="margin-bottom: 0px;">
						<p style="margin-bottom: 0px; padding-top: 10px;">
							현재 사용중인 도구, 사진, 일러스트레이션, 레이아웃 아이디어 등 <br>
							파일을 압축해서 .zip 형태로 보내주세요. <br>
							보내실 이메일 주소는 design@gomakculture.com 입니다
						</p>
					</div>
				</div>
		</div>

		<button type="submit" class="btn btn-info btn-lg btn-block" style="border-radius: 0px; font-size:15px">진단서 제출하기</button>
	</form>
</div>

<% content_for :javascript do %>
	<script type="text/javascript">
		
		$(function() {
			$(".content-wrapper").hide();
			$("#common").show();

			$(".chk-package").click(function(){
				var chk_id = $(this).val();
				if ($(this).prop("checked")) {
					$("#"+chk_id).show();
				} else {
					$("#"+chk_id).hide();
				}
			});
		});

	</script>
<% end %>