<div class="large-box text-center loginscreen  animated fadeInDown">
    <div>
        <div style="padding-top: 70px">

            <h3 class="logo-name" style="font-size: 80px; color: #fed328">GomakGift</h1>

        </div>
        <h3 style="margin-top: 50px;">제품 내용 수정</h3>
        <p>
            내용을 수정해주세요
        </p>
        <form class="m-t" role="form" action="/products/update/<%= @product.id %>" method="POST">
            <div class="col-lg-6">
                <label class="col-lg-4 control-label" style="margin-top: 7px">상품명 : </label>
                <div class="form-group col-lg-8">
                    <input type="text" class="form-control" value="<%= @product.title %>" name="title" required="" style="text-align: right">
                </div>
                <label class="col-lg-4 control-label" style="margin-top: 7px">브랜드명 : </label>
                <div class="form-group col-lg-8">
                    <input type="text" class="form-control" value="<%= @product.brand_name %>" name="brand_name" required="" style="text-align: right">
                </div>
                <label class="col-lg-4 control-label" style="margin-top: 7px">메인카피 : </label>
                <div class="form-group col-lg-8">
                    <input type="text" class="form-control" name="subtitle" value="<%= @product.subtitle %>" required="" style="text-align: right">
                </div>
                <label class="col-lg-4 control-label" style="margin-top: 7px">수량코드 : </label>
                <div class="form-group col-lg-2">
                    <input type="number" class="form-control" value="<%= @product.quantity_id %>" name="quantity_id" required="" style="text-align: right">
                </div>
                <label class="col-lg-3 control-label" style="margin-top: 7px">가격코드 : </label>
                <div class="form-group col-lg-3">
                    <input type="number" class="form-control" value="<%= @product.price_id %>" name="price_id" required="" style="text-align: right">
                </div>
                <label class="col-lg-4 control-label" style="margin-top: 7px">최소수량 : </label>
                <div class="form-group col-lg-2">
                    <input type="number" class="form-control" value="<%= @product.min_qty %>" name="min_qty" required="" style="text-align: right">
                </div>
                <label class="col-lg-3 control-label" style="margin-top: 7px">상품진열순서 : </label>
                <div class="form-group col-lg-3">
                    <input type="number" class="form-control" value="<%= @product.display_order %>" name="display_order" required="" style="text-align: right">
                </div>
                <label class="col-lg-4 control-label" style="margin-top: 7px">택배비 : </label>
                <div class="form-group col-lg-2">
                    <input type="number" class="form-control" value="<%= @product.delivery_cost %>" name="delivery_cost" required="" style="text-align: right">
                </div>
                <label class="col-lg-3 control-label" style="margin-top: 7px">패키지인쇄비용 : </label>
                <div class="form-group col-lg-3">
                    <input type="number" class="form-control" value="<%= @product.print_package_cost %>" name="print_package_cost" required="" style="text-align: right">
                </div>
                <label class="col-lg-4 control-label" style="margin-top: 7px">공급업체코드 : </label>
                <div class="form-group col-lg-2">
                    <input type="number" class="form-control" value="<%= @product.supplier_id %>" name="supplier_id" required="" style="text-align: right">
                </div>
                <label class="col-lg-3 control-label" style="margin-top: 7px">공급가 : </label>
                <div class="form-group col-lg-3">
                    <input type="number" class="form-control" value="<%= @product.supply_price %>" name="supply_price" required="" style="text-align: right">
                </div>
                <label class="col-lg-4 control-label" style="margin-top: 7px">상품정보고시 : </label>
                <div class="form-group col-lg-8">
                    <textarea required="" name="detail" class="form-control" cols="30" rows="12"><%= @product.detail %></textarea>
                </div>
                <label class="col-lg-4 control-label" style="margin-top: 7px">상품카테고리 : </label>
                <div class="form-group col-lg-8">
                    <input type="text" class="form-control" name="category" required="" value="<%= @product.category %>" style="text-align: right" placeholder="예시 : 텀블러, 연필 등">
                </div>
                <label class="col-lg-4 control-label" style="margin-top: 7px">추천행사 : </label>
                <div class="form-group col-lg-8">
                    <input type="text" class="form-control" name="recommend_festival" value="<%= @product.recommend_festival %>" required="" style="text-align: right" placeholder="예시 : 돌잔치, 결혼식 등">
                </div>
                <label class="col-lg-4 control-label" style="margin-top: 7px">패키지 여부 : </label>
                <div class="form-group col-lg-8">
                    <input type="text" class="form-control" name="explain_package" value="<%= @product.explain_package %>" required="" style="text-align: right" placeholder="예시 : 기본패키지 증정">
                </div>
            </div>
            <div class="col-lg-6">
                <label class="col-lg-4 control-label" style="margin-top: 7px">메인화면 상품제목 :</label>
                <div class="form-group col-lg-8">
                    <input type="text" class="form-control" name="mainpage_title" value="<%= @product.mainpage_title %>" required="" style="text-align: right">
                </div>
                <label class="col-lg-4 control-label" style="margin-top: 7px">메인화면 상품스토리 :</label>
                <div class="form-group col-lg-8">
                    <textarea required="" name="mainpage_story" class="form-control" cols="30" rows="12"><%= @product.mainpage_story %></textarea>
                </div>
                <% @product.thumbnails.each do |thumbnail| %>
                    <label class="col-lg-4 control-label" style="margin-top: 7px">상품 썸네일 : </label>
                    <div class="form-group col-lg-8 thumbnail-form">
                        <input type="text" class="form-control" name="img_url[]" value="<%= thumbnail.img_url %>" required="" style="text-align: right">
                    </div>
                <% end %>  
                <button type="button" class="btn btn-rounded btn-warning add-thumb"><i class="fa fa-plus"></i> 썸네일 추가</button>
                <button type="button" class="btn btn-rounded btn-danger remove-thumb"><i class="fa fa-minus"></i> 썸네일 제거</button></br></br>
                <label class="col-lg-4 control-label" style="margin-top: 7px">상품 배너영역 이미지 :</label>
                <div class="form-group col-lg-8">
                    <input type="text" class="form-control" name="product_banner_image" value="<%= @product.product_banner_image %>" required="" style="text-align: right">
                </div>
                <label class="col-lg-4 control-label" style="margin-top: 7px">상품 상세정보 이미지 :</label>
                <div class="form-group col-lg-8">
                    <input type="text" class="form-control" value="<%= @product.product_image %>" name="product_image" required="" style="text-align: right">
                </div>
                
                <button type="submit" class="btn btn-primary block full-width m-b">수정완료</button>
            </div>
        </form>
        <!-- <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2015</small> </p> -->
    </div>
</div>

<% content_for :javascript do %>
    <script type="text/javascript">
        $(function(){
            $('.add-thumb').click(function(){
                $('.thumbnail-form').last().after(
                    '<label class="col-lg-4 control-label thumbnail-label" style="margin-top: 7px">상품 썸네일 : </label>' +
                    '<div class="form-group col-lg-8 thumbnail-form">' +
                        '<input type="text" class="form-control" name="img_url[]" required="" style="text-align: right">' +
                    '</div>'
                );
            });

            $('.remove-thumb').click(function(){
                $('.thumbnail-label').last().remove();
                $('.thumbnail-form').last().remove();
            });
        });
    </script>
<% end %>