<nav class="navbar navbar-main navbar-default navbar-fixed-top" role="navigation">
  <div class="container-custom" >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/gifts/index"><img src="<%= image_path('bigbag/logo.png') %>" alt="logo"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">            
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="/gifts/index">Products</a>
        </li>
        <li class="dropdown megaDropMenu">
          <a href="#" aria-expanded="false">Story</b></a>
          <!-- <ul class="dropdown-menu row">
            <li class="col-sm-3 col-xs-12">
              <ul class="list-unstyled">
                <li>Products Grid View</li>
                <li><a href="product-grid-left-sidebar.html">Products Sidebar Left</a></li>
                <li><a href="product-grid-right-sidebar.html">Products Sidebar Right</a></li>
                <li><a href="product-grid-3-col-filter.html">Products 3 Columns V1</a></li>
                <li><a href="product-grid-3-col.html">Products 3 Columns V2</a></li>
                <li><a href="product-grid-4-col.html">Products 4 Columns</a></li>
              </ul>
            </li>
            <li class="col-sm-3 col-xs-12">
              <ul class="list-unstyled">
                <li>Products List View</li>
                <li><a href="product-list-left-sidebar.html">Products Sidebar Left</a></li>
                <li><a href="product-list-right-sidebar.html">Products Sidebar Right</a></li>
                <li class="listHeading">Others</li>
                <li><a href="single-product.html">Single Product</a></li>
                <li><a href="cart-page.html">Cart Page</a></li>
              </ul>
            </li>
            <li class="col-sm-3 col-xs-12">
              <ul class="list-unstyled">
                <li>Checkout</li>
                <li><a href="checkout-step-1.html">Step 1 - Address</a></li>
                <li><a href="checkout-step-2.html">Step 2 - Shipping</a></li>
                <li><a href="checkout-step-3.html">Step 3 - Payment</a></li>
                <li><a href="checkout-step-4.html">Step 4 - Payment</a></li>
                <li><a href="checkout-complete.html">Order Complete</a></li>
              </ul>
            </li>
            <li class="col-sm-3 col-xs-12">
              <a href="#" class="menu-photo"><img src="<%= image_path('bigbag/menu-photo.jpg') %>" alt="menu-img"></a>
            </li>
          </ul> -->
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My accounts</a>
          <ul class="dropdown-menu dropdown-menu-left">
            <li><a href='
            <% if session[:user_id] %>
              <% user = User.find(session[:user_id]) %>
              <%= "/gifts/order_index/#{user.id}" %>
            <% else %>
                <%= "/users/login" %>
            <% end %>
            '><i class="fa fa-shopping-cart"></i><span style="padding-left: 10px">나의주문내역</span></a></li>
            <li><a href='<%= session[:user_id] ? "/gifts/inquire/#{session[:user_id]}" : "/users/login_inquire" %>'><i class="fa fa-phone"></i><span style="padding-left: 10px">나의문의내역</span></a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="/gifts/support">고객지원</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>