<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>고막기프트 | 브랜드의 소리를 전달해드립니다</title>

    <!-- Include style per-controller - vendor plugins -->
    <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>

    <!-- Main css styles -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <!-- Main javascript files -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="<%= image_path('logo_icon.ico/apple-icon-57x57.png') %>">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= image_path('logo_icon.ico/apple-icon-60x60.png') %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path('logo_icon.ico/apple-icon-72x72.png') %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= image_path('logo_icon.ico/apple-icon-76x76.png') %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path('logo_icon.ico/apple-icon-114x114.png') %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= image_path('logo_icon.ico/apple-icon-120x120.png') %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= image_path('logo_icon.ico/apple-icon-144x144.png') %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= image_path('logo_icon.ico/apple-icon-152x152.png') %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path('logo_icon.ico/apple-icon-180x180.png') %>">
    <link rel="icon" type="image/png" sizes="192x192"  href="<%= image_path('logo_icon.ico/android-icon-192x192.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path('logo_icon.ico/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= image_path('logo_icon.ico/favicon-96x96.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('logo_icon.ico/favicon-16x16.png') %>">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="<%= image_path('logo_icon.ico/ms-icon-144x144.png') %>">
    <meta name="theme-color" content="#ffffff">

</head>
<body class="body-wrapper">

<!-- Skin configuration box -->
<!-- <%= render 'layouts/skinconfig' %> -->

    <!-- Wrapper-->
    <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">

        <!-- Navigation -->
        <%= render 'layouts/navigation' %>

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg <%= @extra_class %>">

            <!-- Page wrapper -->
            <%= render 'layouts/topnavbar' %>

            <!-- Main view  -->
            <%= yield %>

            <!-- Footer -->
            <%= render 'layouts/footer' %>

        </div>
        <!-- End page wrapper-->

        <!-- Right sidebar -->
        <%= render 'layouts/rightsidebar' %>

    </div>
    <!-- End wrapper-->

    <!-- Include javascript per-controller - vendor plugins -->
    <%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>

    <!-- Include javascript per-view -->
    <!-- For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want -->
    <%= yield :javascript %>

</body>
</html>
